.tabs {
  border-bottom: 1px solid var(--harlequin);
  gap: 10px;
}

.tabs li button {
  color: white;
}

.tabs li button:hover {
  border-color: var(--harlequin) !important;
  border-bottom: 1px solid var(--oxford-blue) !important;
  color: white;
}