.button {
  border: 1px solid var(--harlequin);
  color: white;
  transition: .70s;
  background-color: transparent;
}

.button:hover {
  background-color: var(--harlequin);
  color: var(--oxford-blue);
  border: 1px solid var(--harlequin);
}

.button:focus {
  background-color: transparent;
  border-color: var(--harlequin);
  box-shadow: none;
}