.aboutSection {
  padding: 100px 50px 60px 50px;
  background-color: var(--oxford-blue);
  color: white;
}

.aboutSection p {
  max-width: 600px;
}

.button {
  border: 1px solid var(--harlequin);
  color: white;
  transition: .70s;
}

.button:hover {
  background-color: var(--harlequin);
  color: var(--oxford-blue);
}

.button:focus {
  background-color: none;
  border-color: none;
  box-shadow: none;
}