.aboutSection {
  padding: 120px 0 60px;
  max-width: 1300px;
  margin: 0 auto;
  background-color: var(--oxford-blue);
  color: white;
}

.aboutSection p {
  max-width: 600px;
}

.aboutSection > p {
  width: min(80vw);
}

.sectionContainer {
  background-color: var(--oxford-blue);
  width: 100%;
}