.carouselCaptionStyle {
    text-align: center;
    margin: 0 auto;
    width: min(600px, 80vw);
    border: 1px solid #fff3;
    background-color: rgba(6, 10, 20, 72%);
    border-radius: 20px;
    padding: 20px 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
}

.image {
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    height: 350px;
    width: 350px;
}