@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  --rich-balck: #060a14;
  --oxford-blue: hsl(223, 55%, 10%);
  --light-oxford-blue: hsl(223, 55%, 18%);
  --harlequin: #56F218;
}

body {
  color: white;
}
