.languageLvl {
  display: flex;
  align-items: center;
  gap: 17px;
}

.languageLvl p {
  margin: 0;
  width: 12%;
}

.progressBar {
  width: 88%;
  background-color: transparent;
  border: 1px solid white;
}

.progressBar div {
  background-color: white;
}